dist/
logs/
node_modules/
.env*
!.env*.example
.claude/*
!.claude/commands/
!.claude/commands/.env.nsapi.example
.claude/commands/.env.nsapi
.test-naisys
.turbo
*.tsbuildinfo

# Only include files one level deep in agents/testing/
agents/testing/**
!agents/testing/*
