dist/
coverage/
logs/
node_modules/
npm-shrinkwrap.json
.env*
!.env*.example
.npmrc
.claude/*
!.claude/commands/
!.claude/commands/.env.nsapi.example
.claude/commands/.env.nsapi
.codex
.test-naisys
.turbo
*.tsbuildinfo

# Only include files one level deep in agents/testing/
agents/testing/**
!agents/testing/*
